/*
Colors used

Text Color (Blue): #53C1C7;
Primary Color (black): #black;
Secondary Color (white): #white;
 */
 :root {
 --primary-color: #53C1C7;
    --secondary-color: lightblue;
    --dark-grey: #2b2b2b;
    --shadow: 0px 0px 10px rgb(250, 252, 252);
    --size: 20px;
}

 /*links style*/
a {
    color: black;
    text-decoration: none;
    font-size: 25px;
}
a:visited {
    /* visited link */
    color: var(--dark-grey);
}
a:active {
    /* selected link */
    color: #f5f6f5;
}
a:hover, a:focus {
    /* underlining when hovering over a link */
    text-decoration: underline;
}
/*end of links styling*/


body{
    background-color: var(--primary-color);
    font-family: 'Patrick hand', cursive;
    line-height: 1;
    text-align: center;
}

/*buttons styles*/
button{
    border: none;
    font-family: inherit;
    background-color: rgb(56, 54, 54);;
    color: white;
    text-decoration: none;
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
    border-bottom: solid rgb(255, 255, 255);
}
.button{
    display: inline-block;
    font-size: 22px;
    background-color: var(--secondary-color);
    color: rgb(0, 0, 0);
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    border-bottom: 2px solid rgb(0, 0, 0);
    transition-duration: 0.2s;
    transition-property: opacity;
}
button:hover, button:focus{
    /*mouse appear as a hand when hovering over the button*/
    cursor: pointer;
    box-shadow: 0 0.5em 0.5em -0.4em var(hover);
    transform: translateY(-0.25em);
    /*change button aperance when move a cursor*/
    opacity: 0.8;
}
.button:hover,
.button:focus{
    cursor: pointer;
    opacity: 0.8;
    text-decoration: none;
    font-size: 25px;
}

.button_link{
    padding: 20px;
}

 

*{
    box-sizing: border-box;
}
.contacts{
    background-color: var(--secondary-color);
    display: inline-block;
    font-size: var(--size);
    padding: 20px;
    border: 1px solid var(--dark-grey);
}

/* start grid fallback */
.grid__item {
    display: inline-block;
    width: 33%;
   }
   /* end grid fallback */
   
   @supports (display: grid) {
    .grid {
      display: grid;
      /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      margin: 0;
   
    }
    .grid__item {
      background-color: var(--secondary-color);
      width: auto;
      min-height: auto;
      margin: 0;
      padding: 20px;
      border: 1px solid var(--dark-grey);
    }
   }

.profile_photo{
    border-radius: 50%;
    float: left;
    width: 100%;
    max-width: 300px;
    margin-right: 40px;
    height: auto;
}
.profile{
    text-align: start;
    width: 80%;
    margin: 0 auto;
}

.page_header{
    display: flex;
    width: 100%;
    border-bottom: 0.5px solid rgb(113, 103, 103);
    padding: 20px;
}
.page_header__item{
    flex: 0 1 250px;
}
.page_header__item:last-child {
    flex-grow: 1;
    text-align: right;
}
h1{
    color: rgb(12, 7, 7);
    text-shadow: var(--shadow);
    padding: 20px; 
}

h4{
    color: rgb(0, 0, 0);
    text-shadow: var(--shadow);
    font-size: var(--size);
    
}
nav{
    font-size: 25px;
}
.navigation-list {
    list-style-type: none;
}
.navigation-list__item--active{
    text-decoration: none;
}
.navigation-list li{
    display: inline-block;
    margin-left: 15px;
}
li{
    padding: 3px;
}

/*footer style*/
.logo_footer{
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-shadow: var(--shadow);
}
form{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 450px;
    height: 300px;
    margin: auto;
    position: relative;
}
input, textarea{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}
p{
    font-size: 23px;
    color: rgb(14, 10, 10);
    margin-bottom: 5px;
    display: block;
    text-shadow: var(--shadow);
    padding: 20px;
}
table{
    background-color: var(--secondary-color);
    border-collapse: separate;
    border-spacing: 0 15px;
    border: 1px solid black;
    font-size: var(--size);
    text-indent: 10px;
    text-align: center;
}
.align_center{
    margin: 0 auto 0 auto;
}
th{
    font-size: 25px;
}
span{
    text-decoration: underline;
}

/*media response*/

@media all and (max-width: 750px){
    @media all and (max-width: 500px){
        .grid{
            grid-template-columns: 1fr;
        }
    }
    @media all and (min-width: 500px) and (max-width: 750px){
        .grid{
            grid-template-columns: 1fr 1fr;
        }
    }
    @media all and (max-width: 750px){
        .grid{
            grid-gap: 10px;
        }
        .grid__item:last-child{
            grid-row: auto/auto;
            grid-column: auto/auto;
        }
        h1{
            font-size: 25px;
        }
    }
}
/*animation*/
@keyframes color-change {
    from {
      fill: #edc655;
    }
    to {
      fill: #f76414;
    }
  }
  .sun {
    animation: 2s color-change infinite alternate linear;
  }
@keyframes cloud-move {
    from {
      transform: translate(0, 50px);
    }
    to {
      transform: translate(200px, 50px);
    }
}
.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
    from {
      transform: translate(446px, 48px);
    }
    to {
      transform: translate(100px, 48px);
    }
  }
.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}