/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/
 :root {
    --primary-color: #53C1C7;
       --secondary-color: lightblue;
       --dark-grey: #2b2b2b;
       --shadow: 0px 0px 10px rgb(250, 252, 252);
       --size: 20px;
   }
   /*links style*/
   a {
       color: black;
       text-decoration: none;
       font-size: 25px;
   }
   a:visited {
       color: var(--dark-grey);
   }
   a:active {
       color: #f5f6f5;
   }
   a:hover, a:focus {
       text-decoration: underline;
   }
   body{
       background-color: var(--primary-color);
       font-family: 'Source Sans Pro', sans-serif 300;
       line-height: 1;
       text-align: center;
   }
   /*buttons styles*/
   button{
       border: none;
       font-family: inherit;
       background-color: rgb(56, 54, 54);;
       color: white;
       text-decoration: none;
       padding: 8px;
       margin: 10px;
       border-radius: 10px;
       border-bottom: solid rgb(255, 255, 255);
   }
   .button{
       display: inline-block;
       font-size: 22px;
       background-color: var(--secondary-color);
       color: rgb(0, 0, 0);
       margin-top: 10px;
       padding: 10px;
       border-radius: 8px;
       border-bottom: 2px solid rgb(0, 0, 0);
       -webkit-transition-duration: 0.2s;
               transition-duration: 0.2s;
       -webkit-transition-property: opacity;
       transition-property: opacity;
   }
   button:hover, button:focus{
       cursor: pointer;
       -webkit-box-shadow: 0 0.5em 0.5em -0.4em var(hover);
               box-shadow: 0 0.5em 0.5em -0.4em var(hover);
       -webkit-transform: translateY(-0.25em);
               transform: translateY(-0.25em);
       opacity: 0.8;
   }
   .button:hover,
   .button:focus{
       cursor: pointer;
       opacity: 0.8;
       text-decoration: none;
       -webkit-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
               box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);   
   }
   .button_link{
       padding: 20px;
   }
    *{
       -webkit-box-sizing: border-box;
               box-sizing: border-box;
   }
   .error-message {
    color: rgb(197, 21, 21);
    font-size: 18px;
   }
   .contacts{
       background-color: var(--secondary-color);
       display: inline-block;
       font-size: var(--size);
       padding: 20px;
       border: 1px solid var(--dark-grey);
   }
   /* start grid fallback */
   .grid__item {
       display: inline-block;
       width: 33%;
      }
      /* end grid fallback */
      @supports (display: grid) {
       .grid {
         display: -ms-grid;
         display: grid;
         -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
         grid-template-columns: 1fr 1fr 1fr;
         grid-gap: 20px;
         margin: 0;
       }
       .grid__item {
         background-color: var(--secondary-color);
         width: auto;
         min-height: auto;
         margin: 0;
         padding: 20px;
         border: 1px solid var(--dark-grey);
       }
      }
   .profile_photo{
       border-radius: 50%;
       float: left;
       width: 250px;
       max-width: 300px;
       margin-right: 40px;
       height: auto;
   }
   .profile{
       text-align: start;
       width: 700px;
       margin: 0 auto;
       padding-bottom: 80px;
   }
   .page_header{
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       width: 100%;
       padding: 15px;
   }
   .page_header__item{
       -webkit-box-flex: 0;
           -ms-flex: 0 1 100px;
               flex: 0 1 100px;
   }
   .page_header__item:last-child {
       -webkit-box-flex: 1;
           -ms-flex-positive: 1;
               flex-grow: 1;
       text-align: right;
   }
   h1{
       color: rgb(12, 7, 7);
       text-shadow: var(--shadow);
       padding: 20px; 
   }
   h4{
       color: rgb(0, 0, 0);
       text-shadow: var(--shadow);
       font-size: var(--size);    
   }
   nav{
       font-size: 15px;
   }
   .navigation-list {
       list-style-type: none;
   }
   .navigation-list__item--active{
       text-decoration: none;
   }
   .navigation-list li{
       display: inline-block;
       margin-left: 15px;
   }
   /*footer style*/
   .logo_footer{
       clear: both;
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
           -ms-flex-direction: column;
               flex-direction: column;
       text-align: center;
       text-shadow: var(--shadow);
   }
   form{
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
           -ms-flex-direction: column;
               flex-direction: column;
       text-align: center;
       width: 300px;
       height: 300px;
       margin: auto;
       position: relative;
   }
   .input-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 300px;
    height: 300px;
    margin: auto;
    position: relative;
   }
   input, textarea {
       border: 1px solid black;
       border-radius: 5px;
       padding: 10px;
   }
   label{
    font-size: 20px;
    margin: 5px 5px;
   }
   p{
       font-size: 23px;
       color: rgb(14, 10, 10);
       margin-bottom: 5px;
       display: block;
       text-shadow: var(--shadow);
       padding: 20px;
   }
   table{
       background-color: var(--secondary-color);
       border-collapse: separate;
       border-spacing: 0 15px;
       border: 1px solid black;
       font-size: var(--size);
       text-indent: 10px;
       text-align: center;
   }
   .align_center{
       margin: 0 auto 0 auto;
   }
   th{
       font-size: 25px;
   }
   span{
       text-decoration: underline;
   }
   /*media response*/
   @media all and (max-width: 460px){
    .page_header__item li{
        float: none;
        display: block;
        padding-right: 10px;
    }
   }
   @media all and (max-width: 650px){
    .profile{
        display: inline;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .profile_photo{
        margin: 30px;
        float: none;
    }
   }
   @media all and (max-width: 380px){
    th{
        font-size: 19px;
    }
    table{
        font-size: 17px;
    }
    .button{
        font-size: 17px;
    }
   }
   @media all and (max-width: 750px){
       @media all and (max-width: 500px){
           .grid{
               -ms-grid-columns: 1fr;
               grid-template-columns: 1fr;
           }
       }
       @media all and (min-width: 500px) and (max-width: 750px){
           .grid{
               -ms-grid-columns: 1fr 20px 1fr;
               grid-template-columns: 1fr 1fr;
           }
       }
       @media all and (max-width: 750px){
           .grid{
               grid-gap: 10px;
           }
           .grid__item:last-child{
               grid-row: auto/auto;
               grid-column: auto/auto;
           }
           h1{
               font-size: 25px;
           }
       }
   }
   /*animation*/
   @-webkit-keyframes color-change {
       from {
         fill: #edc655;
       }
       to {
         fill: #f76414;
       }
     }
   @keyframes color-change {
       from {
         fill: #edc655;
       }
       to {
         fill: #f76414;
       }
     }
     .sun {
       -webkit-animation: 2s color-change infinite alternate linear;
               animation: 2s color-change infinite alternate linear;
     }
   @-webkit-keyframes cloud-move {
       from {
         -webkit-transform: translate(0, 50px);
                 transform: translate(0, 50px);
       }
       to {
         -webkit-transform: translate(200px, 50px);
                 transform: translate(200px, 50px);
       }
   }
   @keyframes cloud-move {
       from {
         -webkit-transform: translate(0, 50px);
                 transform: translate(0, 50px);
       }
       to {
         -webkit-transform: translate(200px, 50px);
                 transform: translate(200px, 50px);
       }
   }
   .cloud-front {
       -webkit-animation: 30s cloud-move infinite alternate linear;
               animation: 30s cloud-move infinite alternate linear;
   }
   @-webkit-keyframes cloud-move-reverse {
       from {
         -webkit-transform: translate(446px, 48px);
                 transform: translate(446px, 48px);
       }
       to {
         -webkit-transform: translate(100px, 48px);
                 transform: translate(100px, 48px);
       }
     }
   @keyframes cloud-move-reverse {
       from {
         -webkit-transform: translate(446px, 48px);
                 transform: translate(446px, 48px);
       }
       to {
         -webkit-transform: translate(100px, 48px);
                 transform: translate(100px, 48px);
       }
     }
   .cloud-back {
       -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
               animation: 34s cloud-move-reverse infinite alternate linear;
   }